<h2>Send an SMS</h2>

<%= form_tag( "/messages", method: "post" ) do %>

  <%= hidden_field_tag :to, @contact.phone %>

  <div class="form-group">
    <%= label_tag "Body" %><br>
    <%= text_field_tag :body, nil, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= submit_tag "Send", :class => "btn btn-default" %>
  </div>
<% end %>
